<app-header 
    navbarText="{{ textsService.getText('settings') }}"
    [hasBackArrow]="true"
>
</app-header>
<main class="container mt-3 mb-3">
    <form>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">
                {{ textsService.getText('harmTypes') }}
            </label>
            <select 
                class="form-select" 
                id="chord-type-select" 
                name="chordTypeSelect"
                [(ngModel)]="selChordTypeId"
                (change)="persistChordType()"
            >
              <option *ngFor="let chordType of chordTypesService.getAll()" [value]="chordType.id">
                {{ chordType.name[textsService.getLang()] }}
              </option>
            </select>
        </div>
    </form>

    {{ selChordTypeId | json }}
</main>
